@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova_black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova_bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova_regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova_extrabold.otf");
  font-weight: 800;
  font-style: normal;
}